//colors
$dark: #030303;
$red: #710707;
$gold: #9d8665;
$white: #fff;
$black: #000;

//font-size
$fz_80: 80px;
$fz_32: 32px;
$fz_28: 28px;
$fz_22: 22px;
$fz_18: 18px;

//grid-breakpoints
$gb_sm: 419.98px;
$gb_md: 767.98px;
$gb_lg: 1023.98px;

//container-max-width
$cw_sm: 380px;
$cw_md: 768px;
$cw_lg: 1024px;
$cw_xl: 1440px;
