.footer {
	padding-top: 75px;
	position: relative;
	&:before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 123px;
		height: 3px;
		background-color: #666666;
	}
	.top,
	.bottom {
		display: flex;
		justify-content: space-between;
		font-weight: 200;
		font-size: $fz_22;
		letter-spacing: 2px;
	}
	.top {
		margin-bottom: 50px;
		.header-logo {
			padding-top: 10px;
			background-position: 0 10px;
		}
		.footer-nav {
			display: block;
			padding-top: 13px;
			line-height: 26px;
		}
		.d-flex {
			flex: 0 1 1100px;
			justify-content: space-between;
			.nav-list {
				display: grid;
				grid-template-rows: 1fr 1fr;
				grid-template-columns: 1fr 1fr;
				grid-row-gap: 25px;
				grid-column-gap: 153px;
				a:hover {
					color: $gold;
				}
				a:active {
					&:active {
						color: #7e6c51;
					}
				}
			}
			.social {
				align-self: flex-end;
				margin-bottom: 5px;
				ul {
					display: flex;
					li {
						margin-left: 25px;
						a {
							display: block;
							width: 48px;
							height: 48px;
							background-color: transparent;
							border: 1px solid #666666;
							border-radius: 50%;
							transition: border ease 0.3s;
							background: {
								position: center;
								repeat: no-repeat;
							}
							&:hover {
								border: 1px solid $gold;
							}
							&.youtube {
								background-image: url("../assets/svg/yt.svg");
								margin-left: 0;
							}
							&.insta {
								background-image: url("../assets/svg/insta.svg");
							}
							&.fb {
								background-image: url("../assets/svg/fb.svg");
							}
							&.tw {
								background-image: url("../assets/svg/tw.svg");
							}
							&.pin {
								background-image: url("../assets/svg/pt.svg");
							}
						}
					}
				}
			}
		}
	}
	.bottom {
		padding: 50px 0;
		.pl {
			position: relative;
			left: 9px;
		}
	}
}
