.header-logo {
	cursor: pointer;
	&:hover {
		filter: invert(57%) sepia(33%) saturate(359%) hue-rotate(356deg)
			brightness(89%) contrast(85%);
	}
}

.header {
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 150px;
		.burger-menu {
			display: none;
			width: 32px;
			height: 32px;
			background-image: url("../assets/svg/burger_menu.svg");
			background-position: center right;
			background-repeat: no-repeat;
			transition: all ease 0.3s;
			&.toggle {
				background-image: url("../assets/svg/close_white.svg");
			}
		}
		.nav-list {
			display: flex;
			.nav-item {
				margin-right: 56px;
				&:last-child {
					margin-right: 0;
				}
				.nav-link {
					display: block;
					font-weight: 200;
					font-size: $fz_22;
					line-height: 150px;
					letter-spacing: 2px;
					transition: color ease 0.3s;
					&:hover {
						color: $gold;
					}
					&:active {
						color: #7e6c51;
					}
				}
			}
		}
	}
	@include lg {
		.container {
			height: 130px;
			.header-logo {
				padding-top: 5px;
			}
			.nav-list {
				display: none;
			}
			.burger-menu {
				display: block;
			}
		}
	}
	@include md {
		.container {
			height: 110px;
			.header-logo {
				padding-top: 13px;
			}
		}
	}
	@include sm {
		.container {
			height: 90px;
			.header-logo {
				padding-top: 5px;
				img {
					width: 125px;
				}
			}
		}
	}
}
