body {
  display: flex;
  //min-height: 100vh;
  height: 100vh;
  flex-direction: column;
}

.full-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.3s linear;
}

.sidebar {
  position: fixed;
  width: 350px;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 3;
  background-color: #fff;
  transform: translateX(-100%);
  transition: 0.3s linear;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

.overlay {
  z-index: 2;
  background-color: rgba($color: #000000, $alpha: 0.5);
}

nav {
  .container {
    display: flex;
  }
  .link-home {
    cursor: pointer;
  }
  i.material-icons {
    font-size: 36px;
  }
  .nav-mobile {
    padding: 0 15px;
    .nav-link {
      text-transform: uppercase;
    }
  }
  .nav-search {
    margin-left: auto;
    margin-right: 15px;
  }
  .favorites {
    position: relative;
    &-count {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 25px;
      height: 25px;
      top: 7px;
      right: -14px;
      border-radius: 50%;
      background-color: grey;
    }
  }
}

main {
  flex: 1 0 auto;
}

.page-footer {
  padding-top: 0;
  .container {
    justify-content: space-between;
  }
}

/* Materialize Styles for noUiSlider */

.noUi-target {
  border: 0;
  border-radius: 0;
  background: #cdcdcd;
}

.noUi-horizontal {
  height: 3px;
}

.noUi-vertical {
  height: 100%;
  width: 3px;
}

.noUi-horizontal .noUi-handle,
.noUi-vertical .noUi-handle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  box-shadow: none;
  background-color: #26a69a;
  border: none;
  top: -5px;
  right: -8px;
}

.noUi-handle:before,
.noUi-handle:after {
  content: none;
}

/* show message */
.msg {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 10px 5px;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s linear;
  color: #e3e0e0;
  background-color: #626262;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

/* snowflake */

.snowflake-container {
  position: absolute;
  width: 100%;
  height: calc(100vh - 50px);
  pointer-events: none;
  z-index: 2;
  overflow: hidden;
}

.snow {
  color: #fff;
  position: absolute;
  top: -20px;
  animation: fall linear forwards;
}

@keyframes fall {
  to {
    transform: translateY(105vh);
  }
}
