.toys {
  background: url('./assets/bg.jpg') center/cover no-repeat;
  .settings {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    .sort {
      height: auto;
      width: auto;
    }
    .filters {
      padding: 10px;
      h4 {
        font-size: 1.28rem;
      }
      .collection {
        border: none;
        .collection-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border: none;
          padding: 20px 0;
        }
      }
      .btn-floating {
        margin-left: 5px;
      }
      .filter-shape,
      .filter-size {
        .btn-floating {
          background-color: #9e9e9e;
          text-align: center;
          text-transform: uppercase;
          img {
            width: 90%;
          }
          &:hover,
          &.active {
            background-color: #26a69a;
          }
        }
      }
      .filter-color .btn-floating {
        i {
          opacity: 0;
          color: #000;
        }
        &.active {
          i {
            opacity: 1;
          }
        }
      }
      .range-wrapper {
        padding: 15px 0;
        .range-title {
          display: block;
          padding: 5px 0;
          font-size: 16px;
        }
        .range-slider {
          display: flex;
          align-items: center;
          .position {
            width: 60px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            background-color: #26a69a;
            border-radius: 2px;
          }
          .slider {
            margin: 0 15px;
            flex: 1 1 auto;
          }
        }
      }
      .btn-group {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
      }
    }
  }
  .balls {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    overflow-x: auto;
    padding-bottom: 10px;
    @media only screen and (max-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media only screen and (max-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media only screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .card {
    flex: 0 0 220px;
    margin: 0;
    .card-image img {
      width: 70%;
      margin: 0 auto;
    }
    .btn-favorite {
      position: absolute;
      top: 0;
      right: 0;
      i {
        color: #26a69a;
        font-size: 24px;
      }
      &:hover {
        background-color: #e9e8e8;
      }
    }
    .card-content {
      padding: 12px;
      .card-title {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
      }
      .collection {
        margin-bottom: 0;
        border: none;
        .collection-item {
          display: flex;
          justify-content: space-between;
          padding: 6px;
        }
      }
    }
  }
}
