.section-visiting {
	padding-bottom: 79px;
	@include lg {
		padding-bottom: 57px;
	}
	@include md {
		padding-bottom: 76px;
	}
	@include sm {
		padding-bottom: 41px;
	}
	h2 {
		color: $gold;
	}
	.virtual-tour {
		display: flex;
		flex-wrap: wrap;
		row-gap: 75px;
		column-gap: 60px;
		.tour-card {
			display: block;
			flex: 1 1 calc((100% / 3) - 120px);
			img {
				display: block;
				width: 100%;
			}
			.underline-title {
				margin: 25px 0 23px;
				&:after {
					bottom: -12px;
					width: 300px;
					height: 2px;
					transition: width ease 0.3s;
				}
			}
			p {
				font-weight: 200;
				font-size: 22px;
				line-height: 26px;
				span {
					display: block;
					padding-top: 10px;
					font-size: 18px;
					line-height: 19px;
				}
			}
			&:hover {
				.underline-title:after {
					width: 100%;
				}
			}
		}
	}
	@include lg {
		.virtual-tour {
			justify-content: center;
			row-gap: 62px;
			column-gap: 107px;
			.tour-card {
				flex: 0 1 330px;
				.underline-title:after {
					bottom: -12px;
					width: 150px;
				}
				p {
					font-size: 20px;
					line-height: 23px;
					span {
						font-size: 16px;
					}
				}
			}
		}
	}
	@include md {
		.virtual-tour {
			row-gap: 36px;
			column-gap: 56px;
			.tour-card {
				flex-basis: 280px;
				p {
					font-size: 18px;
				}
			}
		}
	}
	@include sm {
		.virtual-tour {
			.tour-card .underline-title {
				margin: 24px 0 18px;
				&:after {
					bottom: -12px;
				}
			}
			.tour-card p {
				font-size: 16px;
				span {
					padding-top: 9px;
				}
			}
		}
	}
}
