* {
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	color: $main_color;
}

body {
	background: linear-gradient(180deg, rgb(191, 191, 191), rgb(255, 255, 255));
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	width: 100%;
	main {
		flex: 1 1 auto;
		overflow: auto;
	}
}

.title {
	text-align: center;
	font-weight: 400;
	font-size: 24px;
	padding-top: 25px;
	@include lg {
		font-size: 36px;
	}
}

.container {
	padding: 0 15px;
	margin: 0 auto;
	@include md {
		max-width: $cw_md;
	}
	@include lg {
		max-width: $cw_lg;
	}
}

.stop-scroll {
	overflow: hidden;
}

.d-none {
	display: none !important;
}

.d-flex {
	display: flex;
}

@keyframes show {
	0% {
		display: none;
		opacity: 0;
	}
	1% {
		display: block;
	}
	100% {
		display: block;
		opacity: 1;
	}
}
@keyframes hide {
	0% {
		display: block;
		opacity: 1;
	}
	99% {
		display: block;
	}
	100% {
		display: none;
		opacity: 0;
	}
}

.show {
	animation: show 500ms linear;
	animation-fill-mode: forwards;
}

.hide {
	animation: hide 500ms linear;
	animation-fill-mode: forwards;
}

img {
	display: block;
	max-width: 100%;
}

.pseudo {
	position: relative;
	&:after {
		content: "";
		display: block;
		position: absolute;
	}
}

.responsive {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 57%;
	img {
		position: absolute;
		width: 100%;
		left: 50%;
		top: 50%;
		transform: translate3d(-50%, -50%, 0);
	}
}

.object-fit {
	overflow: hidden;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.btn-group {
	display: flex;
}

.btn {
	height: 50px;
	display: flex;
	justify-content: end;
	align-items: center;
	background-color: transparent;
	font-size: 18px;
	background-size: 30px;
	background-repeat: no-repeat;
	transition: all 0.3s linear;
	cursor: pointer;
	color: #000;
	span {
		color: inherit;
		display: none;
		@include sm {
			display: block;
		}
	}
	&:active {
		transform: scale(1.2);
	}
	&-result:active {
		transform: scale(1);
	}
	&-center {
		justify-content: center;
		padding: 0;
	}
	&-settings {
		background-image: url("../assets/images/svg/settings.svg");
	}
	&-home {
		background-image: url("../assets/images/svg/home.svg");
	}
	&-categories {
		background-image: url("../assets/images/svg/categories.svg");
		background-size: 27px;
	}
	&-save,
	&-default,
	&-settings,
	&-result,
	&-center {
		width: 150px;
		padding-right: 7px;
		border: 2px solid #000;
		background-position: 7px center;
		&:hover {
			background-color: #000;
			color: #fff;
		}
	}
	&-result {
		background-image: url("../assets/images/svg/score.svg");
		background-color: rgba(0, 0, 0, 0.6);
		color: #fff;
		border: none;
		font-size: 16px;
	}
	&-home,
	&-categories {
		width: 50px;
		background-position: center;
		@include sm {
			width: 150px;
			padding-right: 7px;
			border: 2px solid #000;
			background-position: 7px center;
			&:hover {
				background-color: #000;
				color: #fff;
			}
		}
	}
}

.content {
	padding: 25px 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 7px;
	@include sm {
		grid-template-columns: repeat(4, 1fr);
	}
	@include lg {
		grid-template-columns: repeat(6, 1fr);
		grid-gap: 20px;
	}
	.card {
		cursor: pointer;
		position: relative;
		background-color: #fff;
		padding-bottom: 2px;
		//border-top: 3px solid transparent;
		transition: all 0.3s linear;
		box-shadow: 2px 4px 6px #000;

		&:hover {
			//border-color: #000;
			box-shadow: 1px 1px 2px rgba(#fff, 0.2);
		}
		&:active {
			transform: scale(1.1);
			z-index: 2;
		}
		@include sm {
			padding-bottom: 6px;
		}
	}
}
