.header {
	padding-top: 20px;
	@include sm {
		padding-top: 40px;
	}
	.container {
		display: flex;
		justify-content: space-between;
		.header-logo {
			display: flex;
			justify-content: flex-start;
			@include sm {
				justify-content: center;
			}
			img {
				width: 100px;
				@include sm {
					width: 150px;
				}
				@include lg {
					width: 220px;
				}
			}
		}
		.btn {
			visibility: hidden;
			opacity: 0;
			transition: all 0.3s;
			width: 50px;
			padding: 0;
			background-position: center;
			@include sm {
				width: 150px;
				padding-right: 7px;
				background-position: 7px center;
			}
			&.active {
				visibility: visible;
				opacity: 1;
			}
		}
	}
}
