.settings {
	.settings-wrapper {
		max-width: 500px;
		margin: 25px auto;
		@include sm {
			margin: 20px auto 50px;
		}
		@include lg {
			max-width: 100%;
			display: flex;
			justify-content: space-around;
		}
		.settings-card {
			height: 204px;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			background-color: #fff;
			margin-bottom: 20px;
			@include sm {
				height: 320px;
			}
			@include lg {
				height: 415px;
				width: 415px;
			}
			.range {
				display: flex;
				align-items: center;
				.mute {
					width: 20px;
					height: 20px;
					background-image: url("../assets/images/svg/mute.svg");
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center;
					@include sm {
						width: 30px;
						height: 30px;
					}
				}
				.volume {
					-webkit-appearance: none;
					appearance: none;
					width: 180px;
					height: 4px;
					background: #e5e5e5;
					outline: none;
					border-radius: 2px;
					@include lg {
						width: 270px;
						height: 6px;
					}
					&::-webkit-slider-thumb {
						-webkit-appearance: none;
						appearance: none;
						width: 15px;
						height: 15px;
						border-radius: 50%;
						border: 2px solid #fff;
						background: $main_color;
						cursor: pointer;
						@include lg {
							width: 20px;
							height: 20px;
						}
					}
				}
			}
			.checkbox-label {
				display: block;
				width: 25px;
				height: 25px;
				margin: 0 auto 10px;
				border: 1px solid $main_color;
				position: relative;
				cursor: pointer;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				.timer {
					position: absolute;
					opacity: 0;
					cursor: pointer;
					height: 0;
					width: 0;
					&:checked ~ .checkmark {
						background-image: url("../assets/images/svg/checkmark.svg");
					}
				}
				.checkmark {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					background-position: center;
					background-repeat: no-repeat;
					background-size: contain;
				}
			}
			.settings-title {
				font-weight: 700;
				font-size: 36px;
			}
		}
	}
	.settings-btn-group {
		justify-content: space-between;
		@include sm {
			justify-content: center;
		}
		.btn {
			padding: 0;
			justify-content: center;
			@include sm {
				margin: 0 25px;
			}
		}
	}
}
